.logo{
    max-width: 55px
}

.logofooter{
    max-width: 130px
}



.button-collapse{
    color:#3F51B5 !important;
}

.parallax-container{
    background-image: url(../img/technologyinourhands.jpg);
    background-size: cover;
}

.banner{
}

.banner h2{
    margin-top: 25%;
    font-size: 35pt;
}

.banner p{
    font-size: 15pt
}

.banner a{
    width: 50%;
}

.prod{
    margin:12%;
    max-width: 80%;
}

.prode{
    margin-top: 26%
}

.treino{
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    background: rgba(0,0,0,0.1);
}

.usage{
    margin-top: 7%;
}

.card-image{
    height:300px;
}

.usa{
    height: auto;
}

.imglogo{
    margin: 30px;
    max-width: 70px
}

.tabs .indicator{
    background-color:#3F51B5;
}



.parallaxx {
    position: relative;
    overflow: hidden;
    height: 500px;
    max-height: 400px
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%)
}


.usage img{
    max-width: 150px;
    margin: 15px;
}